.showcase {
    width: 100%;
    text-align: center !important;
}
.showcase > div {
    margin: 0em;
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 35%;
    padding: 0.5em;
    border-radius: 10px;
    background: #363636;
    color: #e0e0e0;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: inline-block;
    _display: inline;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    transition: all 0.5s;
}

.showcase > div:hover {
  background: #32a3ff;
}

/* member */
.showcase2 {
    width: 100%;
    text-align: center !important;
}
.showcase2 > div {
    text-align: left;
    margin: 0em;
    width: 75%;
    height: 250px;
    scroll-snap-align: start;
    flex-shrink: 0;
    padding: 0.2em;
    border-radius: 10px;
    background: #363636;
    color: #e0e0e0;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: inline-block;
    _display: inline;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all 0.5s;
}

.ellipsis-area {
    overflow-y: scroll;
    width: 100%;
}
.ellipsis-area p {
    font-size: 14px;
    height: 42px;
    line-height: 1.5;
    position: relative;
    margin: 0;
}
.ellipsis-area p:before, .ellipsis-area p:after {
    position: absolute; 
}
.ellipsis-area p:before {
    content: "...";
    top: 21px;
    right: 0;
}
.ellipsis-area p:after {
    content: "";
    height: 100%;
    width: 100%;
}

.showcase2 > div:nth-child(1):hover {
  background: #32a3ff;
}

.showcase2 > div:nth-child(4):hover {
    background: #fffc68;
    color: #363636;
}

.showcase2 > div:nth-child(7):hover {
    background: #be3be6;
}

.showcase2 > div:nth-child(10):hover {
    background: #e6403b;
}

.showcase2 > div:nth-child(13):hover {
    background: #f1f1f1;
    color: #363636;
}